
		<header>
            <div class="tt">
            <div class="container op">
                <ul>
                    <li>Home</li>
                    <li>About us</li>
                    <li>Clients</li>
                    <li>Jobs</li>
                    <li>Employers</li>
                    <li>Contact Us</li>
    
                </ul>
            </div>
        </div>
        </header>
        
    
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img src="images/male.png">
                </div>
                <div class="col-md-6 col-12 hl" >
    
                    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
                </div>
            </div>
        </div>
    
    
    
    
    <div class="subscribe">
        <div class="container ">
            <p class="text-center text-white">Subscribe to our job Seeker Mailing List</p>
            <input class="ml-auto mr-auto d-block email pt-3 pb-3 pl-3 " type="text" name="email" placeholder="Enter your email address">
        </div>
    </div>
    
    
